<div class="card-container">
  <div class="card-organization">
      <img src="../../../assets/images/symbol.png" width="50px" height="40px" alt="sim">
  </div>
    <div class="sim-image">
        <img src="../../../assets/images/cpu.png" width="28px" height="28px" alt="sim">
      </div>
<div class="card-details">
  <div class="holder-name">
    Travel Card
  </div>
  <div class="card-number">
    0000 0000 0000 2222
  </div>
  <div class="ammount">
    $ 222,22202
  </div>
</div>
</div>

<div class="card-container">
    <div class="card-organization">
        <img src="../../../assets/images/visa.png" width="50px" height="40px" alt="sim">
    </div>
    <div class="sim-image">
        <img src="../../../assets/images/cpu.png" width="28px" height="28px" alt="sim">
      </div>
  <div class="card-details">
    <div class="holder-name">
      Travel Card
    </div>
    <div class="card-number">
      0000 0000 0000 2222
    </div>
    <div class="ammount">
      $ 222,22202
    </div>
  </div>
  </div>
  <div class="card-container">
      <div class="card-organization">
          <img src="../../../assets/images/visa.png" width="50px" height="40px" alt="sim">
      </div>
      <div class="sim-image">
          <img src="../../../assets/images/cpu.png" width="28px" height="28px" alt="sim">
        </div>
    <div class="card-details">
      <div class="holder-name">
        Travel Card
      </div>
      <div class="card-number">
        0000 0000 0000 2222
      </div>
      <div class="ammount">
        $ 222,22202
      </div>
    </div>
    </div>
    <div class="card-container">
        <div class="card-organization">
            <img src="../../../assets/images/visa.png" width="50px" height="40px" alt="sim">
        </div>
        <div class="sim-image">
            <img src="../../../assets/images/cpu.png" width="28px" height="28px" alt="sim">
          </div>
      <div class="card-details">
        <div class="holder-name">
          Travel Card
        </div>
        <div class="card-number">
          0000 0000 0000 2222
        </div>
        <div class="ammount">
          $ 222,22202
        </div>
      </div>
      </div>
      <div class="card-container">
          <div class="card-organization">
              <img src="../../../assets/images/visa.png" width="50px" height="40px" alt="sim">
          </div>
          <div class="sim-image">
              <img src="../../../assets/images/cpu.png" width="28px" height="28px" alt="sim">
            </div>
        <div class="card-details">
          <div class="holder-name">
            Travel Card
          </div>
          <div class="card-number">
            0000 0000 0000 2222
          </div>
          <div class="ammount">
            $ 222,22202
          </div>
        </div>
        </div>