
.button-container{
    color: white;
    font-size: 40px;
    font-family: monospace;
    margin-top: 5%;
}


  
  
  /*Button Three*/
 
  
.card-container{
  margin-top: 2%;
  justify-content: center;
    display: flex;
}
